<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="https://bootswatch.com/5/journal/bootstrap.min.css">
 <script src="https://kit.fontawesome.com/b14cafb6b2.js" crossorigin="anonymous"></script>
 <title>Node.js & Passport App</title>
</head>
<body>
<div class="container">
    <%- body %>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>